@import "tailwindcss";

:root {
  --background: #e8ded1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8ded1;
    --foreground: #0000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.HomeImage {
  background-image: url("../assets/hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}
.AboutImage {
  background-image: url("../assets/aboutImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.AvailabilityImage {
  background-image: url("../assets/availabilityImage.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.Footerback {
  background-image: url("../assets/footer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}


.CampsImage {
  background-image: url("../assets/banner (6).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}


.QuoteReserveImage {
  background-image: url("../assets/banner (4).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.RatesImage {
  background-image: url("../assets/banner (6).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.DiscountsImage {
  background-image: url("../assets/discountsImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.MapImage {
  background-image: url("../assets/banner (6).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.ContactImage {
  background-image: url("../assets/contact-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.ResourcesImage {
  background-image: url("../assets/resourceImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

